<!-- <!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

  <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
      <div class="p-4 pt-3">
        <img href="#" class="img logo rounded-circle mb-6" src="../../../assets/images/logo.jpeg">
        <ul class="list-unstyled components mb-5">
          <li>
            <a routerLink="/Dashboard" routerLinkActive="active">Dashboard</a>
          </li>
          <li>
            <a routerLink="/employee" routerLinkActive="active">Employee</a>
          </li>
          <li>
            <a routerLink="/profession" routerLinkActive="active">Professions</a>
          </li>
          <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            </a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
              <li>
                <a routerLink="/Stores" routerLinkActive="active">stores</a>
              </li>
              <li>
                <a routerLink="/Suppliers">suppliers</a>
              </li>
              <li>
                <a routerLink="/Customers">customers</a>
              </li>
              <li>
                <a routerLink="/GroupsAndSubgroups">customers</a>
              </li>
              <li>
                <a routerLink="/Items">items</a>
              </li>

            </ul>
          </li>
          <li>
            <a routerLink="/user">users</a>
          </li>
          <li>
            <a href="#Transaction" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">ui</a>
            <ul class="collapse list-unstyled" id="Transaction">
              <li>
                <a routerLink="/Types">ordertypes</a>
              </li>
              <li>
                <a routerLink="/Orders">orders</a>
              </li>
              <li>
                <a routerLink="/Balances">balance</a>
              </li>
            </ul>
          </li>
          <li>
            <a routerLink="/Reports">reports</a>
          </li>

        </ul>

        <div class="footer">
          <p>
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with
            <i class="icon-heart" aria-hidden="true"></i> by
            <a href="http://www.almostakbal-technology.com/" target="_blank">Almostakbal.com</a>
          </p>
        </div>

      </div>
    </nav>

    <div id="content" class="p-3 p-md-6">
      <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">

          <button type="button" id="sidebarCollapse" class="btn btn-primary">
            <i class="fa fa-bars"></i>
            <span class="sr-only">Toggle Menu</span>
          </button>
          <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">

              <li class="nav-item">
                <select class="form-control" #langSelect>

                </select>
              </li>
              <li class="nav-item">
                <span class="nav-link">{{userName}}</span>
              </li>
              <li class="nav-item">
                <a class="nav-link">Log out <i class="fa fa-sign-out" aria-hidden="true"></i> </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <app-main></app-main>
    </div>
  </div>

</body>

</html> -->

<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">
      <img src="../../../assets/images/logo.jpeg" width="30" height="30" class="d-inline-block align-top" alt="">
      <span class="menu-collapsed" style="padding-left: 10px;">AL-Mostakbal</span>
  </a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
              <a class="nav-link" href="#top">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#top">Features</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#top">Pricing</a>
          </li>
        
          <li class="nav-item dropdown d-sm-block d-md-none">
              <a class="nav-link dropdown-toggle" href="#" id="smallerscreenmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Menu </a>
              <div class="dropdown-menu" aria-labelledby="smallerscreenmenu">
                  <a class="dropdown-item" href="#top">Dashboard</a>
                  <a class="dropdown-item" href="#top">Profile</a>
                  <a class="dropdown-item" href="#top">Tasks</a>
                  <a class="dropdown-item" href="#top">Etc ...</a>
              </div>
          </li>
      </ul>
  </div>
</nav><!-- NavBar END -->
<!-- Bootstrap row -->
<div class="row" id="body-row">
  <!-- Sidebar -->
  <div id="sidebar-container" class="sidebar-expanded d-none d-md-block">
      <!-- d-* hiddens the Sidebar in smaller devices. Its itens can be kept on the Navbar 'Menu' -->
      <!-- Bootstrap List Group -->
      <ul class="list-group">
          <!-- Separator with title -->
          <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
              <small style="color:white;">MAIN MENU</small>
          </li>
          <!-- /END Separator -->
          <!-- Menu with submenu -->
          <a href="#submenu1" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-start align-items-center">
                  <span class="fa fa-dashboard fa-fw mr-3"></span>
                  <span class="menu-collapsed">Dashboard</span>
                  <span class="submenu-icon ml-auto"></span>
              </div>
          </a>
          <!-- Submenu content -->
          <div id='submenu1' class="collapse sidebar-submenu">
              <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                  <span class="menu-collapsed">Charts</span>
              </a>
              <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                  <span class="menu-collapsed">Reports</span>
              </a>
              <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                  <span class="menu-collapsed">Tables</span>
              </a>
          </div>
          <a href="/employee" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-start align-items-center">
                  <span class="fa fa-user fa-fw mr-3"></span>
                  <span class="menu-collapsed">Employee</span>
             
              </div>
          </a>
        
          <a href="#Excuses" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-dashboard fa-fw mr-3"></span>
                <span class="menu-collapsed">Excuses</span>
                <span class="submenu-icon ml-auto"></span>
            </div>
        </a>
        <!-- Submenu content -->
        <div id='Excuses' class="collapse sidebar-submenu">
            <a href="AddExcuse" class="list-group-item list-group-item-action bg-dark text-white">
                <span class="menu-collapsed">Add</span>
            </a>
            <a href="AllExcuses" class="list-group-item list-group-item-action bg-dark text-white">
                <span class="menu-collapsed">All Excuses</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                <span class="menu-collapsed">Tables</span>
            </a>
        </div>
          
          <!-- Separator with title -->
          <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
              <small style="color:white;">OPTIONS</small>
          </li>
          <!-- /END Separator -->
          <a href="#" class="bg-dark list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-start align-items-center">
                  <span class="fa fa-calendar fa-fw mr-3"></span>
                  <span class="menu-collapsed">Calendar</span>
              </div>
          </a>
          <a href="#" class="bg-dark list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-start align-items-center">
                  <span class="fa fa-envelope-o fa-fw mr-3"></span>
                  <span class="menu-collapsed">Messages <span class="badge badge-pill badge-primary ml-2">5</span></span>
              </div>
          </a>
          <!-- Separator without title -->
          <li class="list-group-item sidebar-separator menu-collapsed"></li>
          <!-- /END Separator -->
          <a href="#" class="bg-dark list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-start align-items-center">
                  <span class="fa fa-question fa-fw mr-3"></span>
                  <span class="menu-collapsed">Help</span>
              </div>
          </a>
          <a href="#top" data-toggle="sidebar-colapse" class="bg-dark list-group-item list-group-item-action d-flex align-items-center">
              <div class="d-flex w-100 justify-content-start align-items-center">
                  <span id="collapse-icon" class="fa fa-2x mr-3"></span>
                  <span id="collapse-text" class="menu-collapsed">Collapse</span>
              </div>
          </a>
      </ul><!-- List Group END-->
  </div><!-- sidebar-container END -->
  <!-- MAIN -->
  <div class="col p-4">
      <app-main></app-main>
  </div><!-- Main Col END -->
</div><!-- body-row END -->