<div class="card">
    <h5>Excuses</h5>
    <p-tabView>
        <p-tabPanel header="All" leftIcon="pi pi-calendar" tooltip="1972">
            <p-table scrollHeight="350px" #dt [globalFilterFields]="['employeeName','profession']" [scrollable]="true" [value]="Allexcuses">
                <ng-template pTemplate="caption">
                    <div class="table-header">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                placeholder="Global Search" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr style="height: 5px !important; ">
                        <th>Employee Name</th>
                        <th>Profession</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Hours</th>
                        <th>Status</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-Excuse>
                    <tr style="height: 5px !important;font-size: 17px;">
                        <td>{{Excuse.employeeName}}</td>
                        <td>{{Excuse.profession}}</td>
                        <td>{{Excuse.date | date :'yyyy-MM-dd'}}</td>
                        <td>{{Excuse.time}}</td>
                        <td>{{Excuse.hours}}</td>
                        <td id="status" *ngIf="Excuse.approved=='approved'">
                            <div style="cursor:unset;" class="btn btn-success">
                                {{Excuse.approved}}
                            </div>
                        </td>
                        <td id="status" *ngIf="Excuse.approved=='disapproved'">
                            <div style="cursor:unset; width: 65%;" class="btn btn-danger">
                               Rejected
                            </div>
                        </td>
                        <td id="status" *ngIf="Excuse.approved=='pending'">
                            <div style="cursor:unset;width: 65%;" class="btn btn-secondary">
                                Passed
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-tabPanel>
        <p-tabPanel header="Approved" rightIcon="pi pi-inbox" tooltip="1974">
            <p-table scrollHeight="350px" #dt [globalFilterFields]="['employeeName','profession']" [scrollable]="true"
                [value]="Approvedexcuses">
                <ng-template pTemplate="caption">
                    <div class="table-header">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                placeholder="Global Search" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Employee Name</th>
                        <th>Profession</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Hours</th>
                        <th>Status</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-Excuse>
                    <tr>
                        <td>{{Excuse.employeeName}}</td>
                        <td>{{Excuse.profession}}</td>
                        <td>{{Excuse.date | date :'yyyy-MM-dd'}}</td>
                        <td>{{Excuse.time}}</td>
                        <td>{{Excuse.hours}}</td>
                        <td id="status" *ngIf="Excuse.approved=='approved'">
                            <div style="cursor:unset;" class="btn btn-success">
                                {{Excuse.approved}}
                            </div>
                        </td>
                        <td id="status" *ngIf="Excuse.approved=='disapproved'">
                            <div style="cursor:unset; width: 65%;" class="btn btn-danger">
                               Reject
                            </div>
                        </td>
                        <!-- <td *ngIf="Excuse.approved=='pending'" style="color: yellow;">{{Excuse.approved}}</td> -->
                        <td id="status" *ngIf="Excuse.approved=='pending'">
                            <div style="cursor:unset;width: 65%;" class="btn btn-warning">
                                {{Excuse.approved}}
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-tabPanel>
        <p-tabPanel header="Unapproved" rightIcon="pi pi-star" tooltip="1990">
            <p-table scrollHeight="350px" #dt [globalFilterFields]="['employeeName','profession']" [scrollable]="true"
                [value]="DisApprovedexcuses">
                <ng-template pTemplate="caption">
                    <div class="table-header">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                placeholder="Global Search" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Employee Name</th>
                        <th>Profession</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Hours</th>
                        <th>Status</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-Excuse>
                    <tr>
                        <td>{{Excuse.employeeName}}</td>
                        <td>{{Excuse.profession}}</td>
                        <td>{{Excuse.date | date :'yyyy-MM-dd'}}</td>
                        <td>{{Excuse.time}}</td>
                        <td>{{Excuse.hours}}</td>
                        <td id="status" *ngIf="Excuse.approved=='approved'">
                            <div style="cursor:unset;" class="btn btn-success">
                                {{Excuse.approved}}
                            </div>
                        </td>
                        <td id="status" *ngIf="Excuse.approved=='disapproved'">
                            <div style="cursor:unset; width: 65%;" class="btn btn-danger">
                               Reject
                            </div>
                        </td>
                        <!-- <td *ngIf="Excuse.approved=='pending'" style="color: yellow;">{{Excuse.approved}}</td> -->
                        <td id="status" *ngIf="Excuse.approved=='pending'">
                            <div style="cursor:unset;width: 65%;" class="btn btn-warning">
                                {{Excuse.approved}}
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-tabPanel>
        <p-tabPanel header="Pending" rightIcon="pi pi-inbox" tooltip="1990">
            <p-table scrollHeight="350px" #dt [globalFilterFields]="['employeeName','profession']" [scrollable]="true"
                [value]="PendingExcuse">
                <ng-template pTemplate="caption">
                    <div class="table-header">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                placeholder="Global Search" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Employee Name</th>
                        <th>Profession</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Hours</th>
                        <th>Status</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-Excuse>
                    <tr>
                        <td>{{Excuse.employeeName}}</td>
                        <td>{{Excuse.profession}}</td>
                        <td>{{Excuse.date | date :'yyyy-MM-dd'}}</td>
                        <td>{{Excuse.time}}</td>
                        <td>{{Excuse.hours}}</td>
                        <td>
                            <button (click)="approve(Excuse.id)" class="btn btn-success">O</button>
                            <button (click)="disapprove(Excuse.id)" style="margin-left: 5%;"
                                class="btn btn-danger">X</button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-tabPanel>
    </p-tabView>
</div>