<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>

<p-toast position="bottom-center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="p-flex p-flex-column" style="flex: 1">
            <div class="p-text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>
            <div class="p-grid p-fluid">
                <div class="p-col-6">
                    <button type="button" pButton (click)="onConfirm()" label="Yes" class="p-button-success"></button>
                </div>
                <div class="p-col-6">
                    <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
                </div>
            </div>
        </div>
    </ng-template>
</p-toast>

<div class="card">
    <div style="margin-top: 20px;">
        <mat-icon style="color: #007bff; margin: 10px; display: inline; ">note_add</mat-icon>
        <h5 style="display: inline;  font-size: 30px; color: #007bff;">Leaves</h5>
        <button class="btn btn-success" (click)="NewLeaveDialog()">NEW</button>
    </div>
    <p-tabView>
        <p-tabPanel header="All" leftIcon="pi pi-calendar" tooltip="1972">
            <p-table scrollHeight="350px" #dt [globalFilterFields]="['employeeName','profession']" [scrollable]="true"
                [value]="AllLeaves">
                <ng-template pTemplate="caption">
                    <div class="table-header">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                placeholder="Global Search" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr style="height: 5px !important; ">
                        <th pSortableColumn="employeeName">Name<p-sortIcon field="employeeName"></p-sortIcon>
                        </th>
                        <th pSortableColumn="profession">Profession<p-sortIcon field="profession"></p-sortIcon>
                        </th>
                        <th>Applied On</th>
                        <th pSortableColumn="date">Start<p-sortIcon field="code"></p-sortIcon>
                        </th>
                        <th>Days</th>
                        <th>Alternative</th>
                        <th>Status</th>
                        <th>control</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-AllLeaves>
                    <tr style="height: 5px !important;font-size: 17px;">
                        <td>{{AllLeaves.employeeName}}</td>
                        <td>{{AllLeaves.profession}}</td>
                        <td>{{AllLeaves.date | date :'yyyy-MM-dd'}}</td>
                        <td>{{AllLeaves.start | date :'dd-MM-yyyy'}}</td>
                        <td>{{AllLeaves.days}}</td>
                        <td>{{AllLeaves.alternativeEmp}}</td>
                        <td id="status" *ngIf="AllLeaves.status=='approved'">
                            <div style="cursor:unset;width: 90%;text-align: center;" class="btn btn-success">
                                Approved
                            </div>
                        </td>
                        <td id="status" *ngIf="AllLeaves.status=='disapproved'">
                            <div style="cursor:unset; width: 80%;" class="btn btn-danger">
                                Rejected
                            </div>
                        </td>
                        <td id="status" *ngIf="AllLeaves.status=='pending'">
                            <div style="cursor:unset;width: 80%;" class="btn btn-warning">
                                Pending
                            </div>
                        </td>
                        <td>
                            <div class="row">
                                <button (click)="showBasicDialog(AllLeaves.id)" class="btn btn-success c-btn"><i
                                        class="fa fa-eye" aria-hidden="true"></i></button>
                                <button (click)="EditLeaveDialog(AllLeaves.id)" class="btn btn-primary c-btn"><i
                                        class="fa fa-pencil-square-o " aria-hidden="true"></i></button>
                                <button (click)="confirm(AllLeaves.id)" class="btn btn-danger c-btn"><i class="fa fa-trash-o"
                                        aria-hidden="true"></i></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-tabPanel>
        <p-tabPanel header="Approved" rightIcon="pi pi-inbox" tooltip="1974">
            <p-table scrollHeight="350px" #dt [globalFilterFields]="['employeeName','profession']" [scrollable]="true"
                [value]="ApprovedLeaves">
                <ng-template pTemplate="caption">
                    <div class="table-header">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                placeholder="Global Search" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="employeeName">Name<p-sortIcon field="employeeName"></p-sortIcon>
                        </th>
                        <th pSortableColumn="profession">Profession<p-sortIcon field="profession"></p-sortIcon>
                        </th>
                        <th>Applied On</th>
                        <th pSortableColumn="date">Start<p-sortIcon field="code"></p-sortIcon>
                        </th>
                        <th>Days</th>
                        <th>Alternative</th>
                        <th>Status</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-AllLeaves>
                    <tr>
                        <td>{{AllLeaves.employeeName}}</td>
                        <td>{{AllLeaves.profession}}</td>
                        <td>{{AllLeaves.date | date :'yyyy-MM-dd'}}</td>
                        <td>{{AllLeaves.start | date :'yyyy-MM-dd'}}</td>
                        <td>{{AllLeaves.days}}</td>
                        <td>{{AllLeaves.alternativeEmp}}</td>
                        <td id="status" *ngIf="AllLeaves.status=='approved'">
                            <div style="cursor:unset;" class="btn btn-success">
                                {{AllLeaves.status}}
                            </div>
                        </td>
                        <td id="status" *ngIf="AllLeaves.status=='disapproved'">
                            <div style="cursor:unset; width: 65%;" class="btn btn-danger">
                                Rejected
                            </div>
                        </td>
                        <td id="status" *ngIf="AllLeaves.status=='pending'">
                            <div style="cursor:unset;width: 65%;" class="btn btn-warning">
                                Pending
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-tabPanel>
        <p-tabPanel header="Unapproved" rightIcon="pi pi-star" tooltip="1990">
            <p-table scrollHeight="350px" #dt [globalFilterFields]="['employeeName','profession']" [scrollable]="true"
                [value]="DisApprovedLeaves">
                <ng-template pTemplate="caption">
                    <div class="table-header">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                placeholder="Global Search" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="employeeName">Name<p-sortIcon field="employeeName"></p-sortIcon>
                        </th>
                        <th pSortableColumn="profession">Profession<p-sortIcon field="profession"></p-sortIcon>
                        </th>
                        <th>Applied On</th>
                        <th pSortableColumn="date">Start<p-sortIcon field="code"></p-sortIcon>
                        </th>
                        <th>Days</th>
                        <th>Alternative</th>
                        <th>Status</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-AllLeaves>
                    <tr>
                        <td>{{AllLeaves.employeeName}}</td>
                        <td>{{AllLeaves.profession}}</td>
                        <td>{{AllLeaves.date | date :'yyyy-MM-dd'}}</td>
                        <td>{{AllLeaves.start | date :'yyyy-MM-dd'}}</td>
                        <td>{{AllLeaves.days}}</td>
                        <td>{{AllLeaves.alternativeEmp}}</td>
                        <td id="status" *ngIf="AllLeaves.status=='approved'">
                            <div style="cursor:unset;" class="btn btn-success">
                                {{AllLeaves.status}}
                            </div>
                        </td>
                        <td id="status" *ngIf="AllLeaves.status=='disapproved'">
                            <div style="cursor:unset; width: 65%;" class="btn btn-danger">
                                Rejected
                            </div>
                        </td>
                        <td id="status" *ngIf="AllLeaves.status=='pending'">
                            <div style="cursor:unset;width: 65%;" class="btn btn-warning">
                                Pending
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-tabPanel>
        <p-tabPanel header="Pending ({{pendingLeaves.length}})" rightIcon="pi pi-inbox" tooltip="1990">
            <p-table scrollHeight="350px" #dt [globalFilterFields]="['employeeName','profession']" [scrollable]="true"
                [value]="pendingLeaves">
                <ng-template pTemplate="caption">
                    <div class="table-header">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                placeholder="Global Search" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="employeeName">Name<p-sortIcon field="employeeName"></p-sortIcon>
                        </th>
                        <th pSortableColumn="profession">Profession<p-sortIcon field="profession"></p-sortIcon>
                        </th>
                        <th>Applied On</th>
                        <th pSortableColumn="date">Start<p-sortIcon field="code"></p-sortIcon>
                        </th>
                        <th>Days</th>
                        <th>Alternative</th>
                        <th>Status</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-AllLeaves>
                    <tr>
                        <td>{{AllLeaves.employeeName}}</td>
                        <td>{{AllLeaves.profession}}</td>
                        <td>{{AllLeaves.date | date :'yyyy-MM-dd'}}</td>
                        <td>{{AllLeaves.start | date :'yyyy-MM-dd'}}</td>
                        <td>{{AllLeaves.days}}</td>
                        <td>{{AllLeaves.alternativeEmp}}</td>
                        <td>
                            <button (click)="approve(AllLeaves.id)" class="btn btn-success">O</button>
                            <button (click)="disapprove(AllLeaves.id)" style="margin-left: 5%;"
                                class="btn btn-danger">X</button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-tabPanel>
    </p-tabView>
</div>

<p-dialog header="Leave Details" [(visible)]="displayBasic" [style]="{width: '50vw'}" [baseZIndex]="10000">

    <tr class=" form-control">
        <th>Name :</th>
        <td>{{Leave.employeeName}}</td>
    </tr>
    <tr class=" form-control">
        <th>Profession :</th>
        <td>{{Leave.profession}}</td>
    </tr>
    <tr class=" form-control">
        <th>Applied On :</th>
        <td>{{Leave.date | date :'dd-MM-yyyy'}}</td>
    </tr>
    <tr class=" form-control">
        <th>Alternative : </th>
        <td>{{Leave.alternativeEmp}}</td>
    </tr>
    <tr class=" form-control">
        <th>satrt : </th>
        <td>{{Leave.start | date :'dd-MM-yyyy'}}</td>
    </tr>
    <tr class=" form-control">
        <th>Days : </th>
        <td>{{Leave.days}}</td>
    </tr>
    <tr class=" form-control">
        <th>End: </th>
        <td>{{Leave.end | date :'dd-MM-yyyy'}}</td>
    </tr>
    <tr class=" form-control">
        <th>Status : </th>
        <td>{{Leave.status }}</td>
    </tr>
<tr>
    <table class="table col-md-12">
    <thead class="table col-md-12 ">
        <th>Document</th>
        <th>Preview</th>
        <th>Download</th>
    </thead>
    <tbody class="table col-md-12" *ngFor="let item of getLeavesfiles let i=index">
        <td>Document {{i}}</td>
        <td><a  href="http://localhost:50652/wwwroot/leaves/{{item}}">Preview</a> </td>
        <td> <a href="http://localhost:50652/api/employees/getFile/{{item}}">Download</a></td>
    
    </tbody>
    
</table>
</tr>

    <ng-template pTemplate="footer">
        <button (click)="approve(Leave.id)" class="btn btn-success">Approve</button>
        <button (click)="disapprove(Leave.id)" class="btn btn-danger">Reject</button>
    </ng-template>
</p-dialog>

<form (submit)="addNewLeave()">
    <p-dialog header="New Leave" [(visible)]="NewLeaveDialogbool" [style]="{width: '50vw'}" [baseZIndex]="10000">

        <div class="row">
            <span class="col-md-3" for="Profession">Profession</span>
            <select (change)="onChange($event.target.value)" [(ngModel)]="ProfessionID" name="Profession"
                class="form-control col-md-6">Profession
                <option value="" selected disabled hidden>Profession</option>
                <option *ngFor="let item of AllProfessions" value="{{item.id}}">{{item.name}}</option>
            </select>
        </div>
        <br>
        <div class="row">
            <span class="col-md-3" for="Employee">Employee</span>
            <select [(ngModel)]="NewLeaveRequest.EmployeeID" name="Employee" class="form-control col-md-6">Employee
                <option *ngFor="let item of AllEmployeesByProfession" value="{{item.id}}">{{item.name}}</option>
            </select>
        </div>
        <br>
        <div class="row">
            <span class="col-md-3" for="time">Date</span>
            <input [(ngModel)]="NewLeaveRequest.start" name="date" type="date" class="col-md-6 form-control"
                inputId="date">
        </div>
        <br>
        <div class="row">
            <span class="col-md-3" for="Days">Days</span>
            <input [(ngModel)]="NewLeaveRequest.Days" name="Days" type="number" min="1" value="1"
                class="col-md-6 form-control" inputId="Days">
        </div>
        <br>
        <div class="row">
            <span class="col-md-3" for="LeaveTypes">Leave Type</span>
            <select [(ngModel)]="NewLeaveRequest.LeaveTypeID" name="LeaveTypes" class="col-md-6 form-control">
                <option *ngFor="let item of LeaveTypes" value="{{item.id}}">{{item.name}}</option>
            </select>
        </div>
        <br>
        <div class="row">
            <span class="col-md-3" for="Alternate">Alternate</span>
            <select [(ngModel)]="NewLeaveRequest.AlternativeEmpID" name="Alternate" class="col-md-6 form-control">
                <option *ngFor="let item of EmployeeByProfession" value="{{item.id}}">{{item.name}}</option>
            </select>
        </div>
        <br>
        <div class="row">
            <span class="col-md-3" for="Note">Alternateive Address</span>
            <input [(ngModel)]="NewLeaveRequest.AlternativeAddress" style="margin-top: 5px;margin-right: 10px;"
                [(ngModel)]="OldAddress" type="checkbox" id="oldAddress" name="oldAddress">
            <label for="oldAddress"> Old Address</label><br>
        </div>
        <div class="row">
            <span class="col-md-3" for="Note"></span>
            <br>
            <textarea [(ngModel)]="NewLeaveRequest.AlternativeAddress" *ngIf="!OldAddress" name="Note" type="text"
                class="col-md-6 form-control" inputId="Note"></textarea>
        </div>
        <br>
        <div class="row">
            <span class="col-md-3" for="comment">comment</span>
            <br>
            <textarea [(ngModel)]="NewLeaveRequest.Comment" name="comment" type="text" class="col-md-6 form-control"
                inputId="comment"></textarea>
        </div>
        <br>
        
        <div class="form-row">
            <span class="col-md-3" for="File">Files</span>
            <div class="col-md-7">
                <div class="input-group mb-3">
                    
                    <div class="custom-file ">
                        <input multiple
                        accept="image/*"
                        (change)="selectFiles($event)" type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                      <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                    </div>
                  </div>
            </div>
        </div>
        <ng-template pTemplate="footer">
            <p-button type="submit" icon="pi pi-check" label="Save" styleClass="p-button-text"></p-button>
            <p-button icon="pi pi-times" (click)="displayBasic=false" label="No"></p-button>
        </ng-template>

    </p-dialog>
</form>

<form>
    <p-dialog header="Edit Leave" [(visible)]="EditLeave" [style]="{width: '50vw'}" [baseZIndex]="10000">
        <div class="row">
            <span class="col-md-3" for="time">Name</span>
            <input disabled name="employeeName" type="text" class="col-md-6 form-control" value="{{NewLeaveRequest.employeeName}}" inputId="date">
        </div>
        <br>
        <div class="row">
            <span class="col-md-3" for="time">Profession</span>
            <input disabled name="profession" type="text" class="col-md-6 form-control" value="{{NewLeaveRequest.profession}}" inputId="date">
        </div>
        <br>
        <div class="row">
            <span class="col-md-3" for="time">Date</span>
            <input [(ngModel)]="NewLeaveRequest.start" name="date" type="date" class="col-md-6 form-control"
                inputId="date">
        </div>
        <br>
        <div class="row">
            <span class="col-md-3" for="Days">Days</span>
            <input [(ngModel)]="NewLeaveRequest.days" name="Days" type="number" min="1" value="1"
                class="col-md-6 form-control" inputId="Days">
        </div>
        <br>
        <div class="row">
            <span class="col-md-3" for="LeaveTypes">Leave Type</span>
            <select [(ngModel)]="NewLeaveRequest.leaveTypeID" name="LeaveTypes" class="col-md-6 form-control">
                <option *ngFor="let item of LeaveTypes" value="{{item.id}}">{{item.name}}</option>
            </select>
        </div>
        <br>
        <div class="row">
            <span class="col-md-3" for="Alternate">Alternate</span>{{NewLeaveRequest.alternativeEmpID}}
            <select [(ngModel)]="NewLeaveRequest.alternativeEmpID" name="Alternate" class="col-md-6 form-control">
                <option *ngFor="let item of EmployeeByProfession" 
                [attr.selected]="NewLeaveRequest.alternativeEmp==item.name ? true : null" 
                value="{{item.id}}">{{item.name}}</option>
            </select>
        </div>
        <br>
        <div class="row">
            <span class="col-md-3" for="Note">Alternateive Address</span>
            <input  style="margin-top: 5px;margin-right: 10px;"
                [(ngModel)]="OldAddress" type="checkbox" id="oldAddress" name="oldAddress">
            <label for="oldAddress"> Old Address</label><br>
        </div>
        <div class="row">
            <span class="col-md-3" for="Note"></span>
            <br>
            <textarea [(ngModel)]="NewLeaveRequest.alternativeAddress" *ngIf="!OldAddress" name="Note" type="text"
                class="col-md-6 form-control" inputId="Note"></textarea>
        </div>
        <br>
        <div class="row">
            <span class="col-md-3" for="comment">comment</span>
            <br>
            <textarea [(ngModel)]="NewLeaveRequest.comment" name="comment" type="text" class="col-md-6 form-control"
                inputId="comment">{{NewLeaveRequest.comment}} </textarea>
        </div>
        <ng-template pTemplate="footer">
            <p-button type="submit" icon="pi pi-check" label="Edit" styleClass="p-button-text"></p-button>
            <p-button icon="pi pi-times" (click)="displayBasic=false" label="No"></p-button>
        </ng-template>
    </p-dialog>
</form>