<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>

<p-toast position="bottom-center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="p-flex p-flex-column" style="flex: 1">
            <div class="p-text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>
            <div class="p-grid p-fluid">
                <div class="p-col-6">
                    <button type="button" pButton (click)="onConfirm()" label="Yes" class="p-button-success"></button>
                </div>
                <div class="p-col-6">
                    <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
                </div>
            </div>
        </div>
    </ng-template>
</p-toast>
<p-table class="container card" #dt [value]="Employees" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10,25,50]" [loading]="loading" styleClass="p-datatable-customers" [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
    [globalFilterFields]="['name','country.name','representative.name','status']">
    <ng-template pTemplate="caption">
        <div class="row">
        <div class="table-header col-md-10">
            <!-- List of Employees -->

            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                    placeholder="Global Employee Search" />
            </span>
              </div>
                <div class="col-md-2">
                    <button id="addEmpBtn" routerLink="/addemployee" class="btn btn-outline-primary btn-md btn-block">
                        <span class="pi pi-plus"></span>  Add </button>
                </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <!-- <th>Image</th>
            <th>Name</th>
            <th>Code</th>
            <th style="width: 112px; ">Profession</th>
            <th style="width: 120px; ">Hiring Date</th>
            <th>Email</th>
            <th>Controls</th> -->
        </tr>
        <tr>
            <th></th>
            <th>
                <input pInputText style="width: 100%;" type="text"
                    (input)="dt.filter($event.target.value, 'name', 'startsWith')" placeholder="Name"
                    class="p-column-filter">
            </th>
            <th>
                <input pInputText type="text" style="width: 100%"
                    (input)="dt.filter($event.target.value, 'code', 'contains')" placeholder="Code"
                    class="p-column-filter">
            </th>
            <th>
                <input pInputText type="text" style="width: 100%"
                    (input)="dt.filter($event.target.value, 'profession', 'contains')" placeholder="profession"
                    class="p-column-filter">
            </th>
            <th>
                <p-calendar (onSelect)="onDateSelect($event)"
                    (onClearClick)="dt.filter('', 'hiringDateHiringDate', 'equals')" [showButtonBar]="true"
                    styleClass="p-column-filter" placeholder="Hiring Date" [readonlyInput]="true" dateFormat="yy-mm-dd">
                </p-calendar>
            </th>
            <th>
                <input pInputText style="width: 100%;" type="text"
                    (input)="dt.filter($event.target.value, 'email', 'startsWith')" placeholder="Email"
                    class="p-column-filter">
            </th>

        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-employee>
        <tr>
            <td>
                <img class="img-thumbnail" src="http://localhost:50652/api/employees/getImage/{{employee.photo}}"
                    alt="" width="60" height="60">
            </td>
            <td>
                {{employee.name}}
            </td>
            <td>
                {{employee.code}}
            </td>
            <td>
                {{employee.profession}}
            </td>
            <td>
                {{employee.hiringDateHiringDate | date :'yyyy-MM-dd'}}
            </td>
            <td>
                {{employee.email}}
            </td>
            <!-- <td>
                {{employee.phone}}
            </td> -->
            <!-- <td>
                {{employee.gender}}
            </td> -->
            <!-- <td>
                {{employee.maritalStatus}}
            </td> -->
            <td>
               <div class="row">
                    <button (click)="showBasicDialog(employee.id)" class="btn btn-success c-btn">
                        <i class="fa fa-eye"
                            aria-hidden="true"></i></button>
                 <button [routerLink]="['/editEmployee',employee.id]" class="btn btn-primary c-btn">
                    <i class="fa fa-pencil-square-o"
                            aria-hidden="true"></i></button>
           
                <button (click)="confirm(employee.id)" style="display: flex;" class="btn btn-danger c-btn"><i class="fa fa-trash-o"
                    aria-hidden="true"></i></button>
          </div>  </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="6">No customers found.</td>
        </tr>
        <tr>

        </tr>
    </ng-template>

</p-table>


<p-dialog header="Employee Details" [(visible)]="displayBasic" [style]="{width: '70vw'}" [baseZIndex]="10000">
    <div class="row">
        <div class="col-md-6 form-control"><span class="bold">Name: </span>{{Employee.name}}</div>
        <br>
        <div class="col-md-6 form-control"><span class="bold">Email</span>: {{Employee.email}}</div>
    </div>
    <div class="row">
        <div class="col-md-6 form-control"><span class="bold">Profession: </span>{{Employee.profession}}</div>
        <br>
        <div class="col-md-6 form-control"><span class="bold">Code: </span>{{Employee.code}}</div>
    </div>
    <div class="row">
        <div class="col-md-6 form-control"><span class="bold">Phone: </span>{{Employee.phone}}</div>
        <div class="col-md-6 form-control"><span class="bold">R-Phone: </span>{{Employee.relevantPhone}}</div>
    </div>
    <div class="row">
        <div class="col-md-6 form-control"><span class="bold">DOB: </span>{{Employee.dateOfBirth | date :'dd-MM-yyyy'}}
        </div>
        <div class="col-md-6 form-control"><span class="bold">Hiring Date:
            </span>{{Employee.hiringDateHiringDate | date :'dd-MM-yyyy'}}</div>
    </div>
    <div class="row">
        <div class="col-md-4 form-control"><span class="bold">Gender: </span>{{Employee.gender}}</div>
        <div class="col-md-4 form-control"><span class="bold">M-Status: </span>{{Employee.maritalStatus}}</div>
        <div class="col-md-4 form-control"><span class="bold">G-Year: </span>{{Employee.graduatioYear}}</div>
    </div>

    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" [routerLink]="['/editEmployee',Employee.id]" label="Edit"
            styleClass="p-button-text"></p-button>
        <p-button icon="pi pi-times" (click)="displayBasic=false" label="No"></p-button>
    </ng-template>
</p-dialog>